:root {
    --primary: #FFCC00;
    --secondary: pink;
    --tertiary: #5a66a2;
}


body {

    background-color: var(--secondary);
    height: 100vh;
    color: var(--color-four);

}

.page-font {

    font-family: 'Poppins', sans-serif;
    color: var(--tertiary);


}

.main-container {

    background-color: var(--secondary);

}

.bg-color {
    background-color: pink;
}

.title-font {

    font-family: 'Poppins', sans-serif;
    font-size: 5.0rem;
    color: var(--tertiary);

}

.intro-box {

    margin-top: 8%;
    margin-bottom: 10%;

}

.intro-box h1 {

    text-align: center;

}

.btn-custom {
    background-color:#5a66a2;
    color: white;
}

.btn-custom:hover {
    color: #f8f8ffc7;
}

.search-button {

    margin-top: 2px;

}

.events-container {
    margin: 20px;
}

.event-card-content {

    padding: 3px;
}


.weather-container {
    margin: 20px;
}

.weather-card {
    padding: 5px;
}

footer {
    background-image: linear-gradient(to top, white 30%, pink 60%);
}
