body {

    background-color: white;
    height: 100vh;
    color: var(--color-four);

}

.page-font {

    font-family: 'Poppins', sans-serif;

}

.main-container {

    background-color: pink;

}

.title-font {

    font-family: 'Poppins', sans-serif;
    font-size: 5.0rem;

}

.intro-box {

    margin-top: 8%;
    margin-bottom: 10%;

}

.intro-box h1 {

    text-align: center;

}

.events-container {
    margin: 20px;
}

.weather-container {
    margin: 20px;
}

.navbar-end {

    text-align: left;
}